body {
  color: #333;
  font-family: Helvetica, Arial, sans-serif;
  background-color: #9AEB87; /* Sanity Check! */
}

h1 {
  margin-top: 100px;
  text-align: center;
}

#imperatives span {
  display: inline-block;
  padding: 4px;
  margin: 4px;
  border: 1px solid black;
  width: 200px;
  background: white;
  text-align: center;
}
#imperatives span:hover {
  cursor: pointer;
}

#click-log li {
  padding: 4px 0;
  max-width: 400px;
}
#click-log li + li {
  border-top: 1px solid black;
}
